system_logger:
  system_logger_logging_level: debug
  system_logger_destination: stdout
  system_logger_format: text

service:
  listen_addr: ":443"
  cert_shown_by_service_to_clients: ./certs/cert.crt
  privkey_for_cert_shown_by_service_to_clients: ./certs/cert.key
  cert_service_accepts: ./certs/cert.crt
  mode: direct
  file: false
  